/* Define your color variables as actual CSS values */
/* Reset default padding and margin */
html, body {
  padding: 0;
  margin: 0;
}

/* Style for headings */
h1 {
  color: var(--text-color);
}

/* Style for the list container */
#listContainer {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Style for the Dublin POI div */
/* Style for the table wrapper */
#tableWrapper {
  width: 80%;
  margin: auto;
}

/* Style for tables */
table {
  width: 100%; /* Full width of the table wrapper */
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: var(--table-header-bg);
  color: var(--table-header-color);
  cursor: pointer;
}

/* Zebra striping for rows */
tr:nth-child(even) {
  background-color: var(--background-color);
}

/* Hover effect for rows */
tr:hover {
  background-color: #87ff62;
}

/* Style for modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  border: thin solid black;
}

/* Style for the image box */
#imageBox {
  max-width: 50vh;
  max-height: 25vh;
}

/* Style for editable description box */
#editDescription {
  width: 100%;
  height: 150px;
  padding: 15px;
  border-radius: 15px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

/* Style for tag container */
#tagContainer {
  background-color: rgb(114, 114, 114);
  padding: 20px;
  border: 2px solid black;
  overflow-y: auto;
}

.modalDelete {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.modalDeleteContent {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  border: thin solid black;
}

.modalAdd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.modalAddContent {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  border: thin solid black;
}

.modalMore {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.modalMoreContent {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  border: thin solid black;
}

.modalModify {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

.modalModifyContent {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 5%;
  bottom: 5%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  border: thin solid black;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.github-button {
  background-color: #24292e;
  color: white;
  display: inline-flex;
  align-items: center;
}
.github-button .fab {
  margin-right: 5px;
}
.github-button:hover {
  background-color: #0e1011;
  text-decoration: none;
}
.github-button:focus {
  box-shadow: 0 0 0 0.2rem rgba(36, 41, 46, 0.25);
}/*# sourceMappingURL=style.css.map */