$background-color: #f4f4f4;
$text-color: #333;
$table-header-bg: #555;
$table-header-color: #fff;

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 20px;
}

#dublinPOIDiv {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

h1 {
  color: $text-color;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }

  th {
    background-color: $table-header-bg;
    color: $table-header-color;
    position: relative;
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: $background-color;
  }

  tr:hover {
    background-color: #87ff62;
  }
}

#listContainer {
  width: 80%;
  margin: auto;
}



.modal  {
  position: fixed;
    width: 100%;
    height: 100%;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.7);
  
  .modalContent{
    animation: modal_load both 0.2s linear;
    overflow:hidden;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    max-height: 50vh;
    overflow-y: scroll;
    margin: auto;
    background: white;
    border-radius:10px;
    padding:5px;
    border:thin solid black;
    
    h1 {
      margin-top: 0;
    }
    
    button {
      display: block;
      margin: 20px auto 0;
    }

    #imageBox{
      max-width: 50vh;
      min-width: 50vh;
      max-height: 25vh;
      min-height: 25vh;
    }
  }
}



#tagContainer{
  width: fit-content;
  max-height: 10vh;
  background-color: rgb(114, 114, 114);
  padding: 5vh;
  border: 2px solid black;
  overflow-y: scroll;
}